<header>
    <div class="container group">
        <div class="logo">
            <a href="/" title="Zing MP3 - Đỉnh cao âm nhạc" class="hide-text">
                <img src="https://zmp3-static.zadn.vn/skins/zmp3-v5.1/images/logo.png" alt="Zing MP3 - Đỉnh cao âm nhạc">
            </a>
        </div>
        <div id="sug" class="section-search">
            <form action="/tim-kiem/bai-hat.html" method="get" class="search">
                <input type="text" name="q" placeholder="Nhập nội dung cần tìm" class="input-txt" autocomplete="off">
                <span class="input-btn">
                    <button type="submit" class="zicon btn hide-text">Tìm kiếm</button>
                </span>
            </form>
        
        </div>
    
        <div class="nav-account pull-right fn-guestbox">
             <img class="" src="../assets/icon/user.png"> &nbsp;
            <a class="fn-login" href="#" title="Đăng nhập"> Login |</a> 
            <a class="fn-login" href="#" title="Đăng xuất"> Register</a>
        </div>
     
    </div>
</header>

<nav>
    <div class="container" id="myNavbar">
        <ul class="main-nav group">
        
                <a href="/" title="Zing MP3 - Đỉnh cao âm nhạc" class="hide-text">
                    <img src="../assets/icon/homepage.png" alt="Home Page">
                </a>
           
            <li class="active"><a id="navbar-mymusic" class="fn-login" href="/mymusic" title="Nhạc cá nhân">Private Song</a> 
                <!--<ul>
                    <li><a href="/mymusic/favorites-song" title="Yêu thích">Yêu Thích</a></li>
                    <li><a href="/mymusic/myplaylist" title="Playlist cá nhân">Playlist Cá Nhân</a></li>
                    <li><a href="/mymusic/following-artist" title="Quan tâm">Quan tâm</a></li>
                    <li><a href="/mymusic/upload" title="Nhạc upload">Nhạc Upload</a></li>            
                    <li><a href="/u/" title="Kênh của tôi" class="fn-my-channel">Kênh của tôi</a></li>
                </ul>-->
            </li>            
     
            <li><a id="navbar-top100" title="Top 100" href="/top100/Nhac-Tre/IWZ9Z088.html">Genre</a>
                            <ul>
                                <li><a title="Việt Nam" href="/top100/Nhac-Tre/IWZ9Z088.html">Việt Nam</a></li>
                                <li><a title="Âu Mỹ" href="/top100/Pop/IWZ9Z097.html">Âu Mỹ</a></li>
                                <li><a title="Châu Á" href="/top100/Kpop/IWZ9Z08W.html">Châu Á</a></li>
                                <li><a title="Hòa Tấu" href="/top100/Classical/IWZ9Z0BI.html">Hòa Tấu</a></li>
                            </ul>
            </li>
  
            <li><a id="navbar-genreartist" title="Nghệ Sĩ" href="/the-loai-nghe-si">Singer</a>
                            <ul>
                                <li><a title="Việt Nam" href="/the-loai-nghe-si/Viet-Nam/IWZ9Z08I.html">Việt Nam</a></li>
                                <li><a title="Âu Mỹ" href="/the-loai-nghe-si/US-UK/IWZ9Z08O.html">Âu Mỹ</a></li>
                                <li><a title="Hàn Quốc" href="/the-loai-nghe-si/Kpop/IWZ9Z08W.html">Hàn Quốc</a></li>
                                <li><a title="Nhật Bản" href="/the-loai-nghe-si/Nhat-Ban/IWZ9Z08Z.html">Nhật Bản</a></li>
                                <li><a title="Hao Ngữ" href="/the-loai-nghe-si/Hoa-Ngu/IWZ9Z08U.html">Hoa Ngữ</a></li>
                                <li><a title="Hòa Tấu" href="/the-loai-nghe-si/Hoa-Tau/IWZ9Z086.html">Hòa Tấu</a></li>
                            </ul>
            </li>
          
        </ul><!-- END .main-nav -->
      
    </div><!-- END .container -->
</nav>

<!--<div class="menubar">
        <div class="home">
            <a href="/" title="Zing MP3 - Đỉnh cao âm nhạc" class="hide-text">
                <img src="../assets/icon/homepage.png" alt="Home Page">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar" >
          <ul class="nav navbar-nav" >
            <li><a [routerLink]="['/home']"><span class="glyphicon glyphicon-home"></span>TRANG CHỦ </a></li>
            <li class="active mproduct" ><a [routerLink]="['/product']">DANH MỤC SẢN PHẨM</a>
              <ul class="menu-bar" >
                  <li><a [routerLink]="['/cakedeo']">Bánh Dẻo</a></li>
                  <li><a href="#">Bánh Nướng</a></li>
                  <li><a href="#">Bánh Trăng Vàng Cao Cấp</a></li>
              </ul>
            </li>
            <li><a [routerLink]="['/specialfood']">SẢN PHẨM TIÊU BIỂU</a></li>
            <li class="contact"><a href="" >LIÊN HỆ</a></li> 
          </ul>  
       </div>-->
    
        
    


    <!--<nav class="navbar nav-color">
      <div class="container-fluid">
      
        <div class="collapse navbar-collapse" id="myNavbar" >
          <ul class="nav navbar-nav" >
            <li><a [routerLink]="['/home']"><span class="glyphicon glyphicon-home"></span>TRANG CHỦ </a></li>
            <li class="active mproduct" ><a [routerLink]="['/product']">DANH MỤC SẢN PHẨM</a>
              <ul class="menu-bar" >
                  <li><a [routerLink]="['/cakedeo']">Bánh Dẻo</a></li>
                  <li><a href="#">Bánh Nướng</a></li>
                  <li><a href="#">Bánh Trăng Vàng Cao Cấp</a></li>
              </ul>
            </li>
            <li><a [routerLink]="['/specialfood']">SẢN PHẨM TIÊU BIỂU</a></li>
            <li class="contact"><a href="" >LIÊN HỆ</a></li> 
          </ul>  

           <input id="search" name="search" value="Tìm kiếm ..." maxlength="27" class="inputbox" type="search"> 
           <i class="fa fa-search" aria-hidden="true"></i> 
       </div>
    </div>
  </nav>-->
<!--</div>-->


