header {
    position: relative;
    background: #1c1c1c;
    width: 100%;
    height: 50px;
    min-width: 1000px;
    z-index: 900002!important;
    display: block;
}

nav{
    position: relative;
    background: #e4e4e4;  
    width: 100%;
    height: 40px;
    min-width: 1000px;
    z-index: 900002!important;
    display: block;
}

header .container, nav .container {
    overflow: visible;
    width: 1000px;
}

.group {
    display: block;
    clear: both;
}

header .logo {
    float: left;
    width: 185px;
    height: 40px;
    margin-top: 6px;
}
header .logo a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
 .section-search {
    position: relative;
}
.section-search .search {
    float: left;
    margin-top: 10px;
    width: 355px;
    position: relative;
}
.section-search .search .input-txt {
    float: left;
    padding: 5px 15px;
    width: 100%;
    border: 0 none;
    height: 29px;
}
.section-search .search .input-btn {
    white-space: nowrap;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.2;
    line-height: 25px;
    transform: translateX(-7px);
}
.section-search .search .input-btn:hover {
	  opacity: 1;
	  transition: all .2s ease-in-out;
	}

.pull-right {
    float: right;
   line-height: 50px;
}

.nav-account a{
	color: #fff;
	text-decoration: none;
}
.nav-account a:hover{
	text-decoration: underline;
}


#myNavbar ul li a{
    margin-right:5px;
    color: #1c1c1c;
    text-decoration: none;
    font-size: 15px;
    padding-left:12px;
    padding-right: 12px;
    }

    #myNavbar ul li a:hover{
    color: blue;
    }

 #myNavbar ul li a#navbar-mymusic{
     margin-left: -110px;
 }

#navbar-top100:hover> ul{
    display: block;
}


#myNavbar ul
{
  list-style:none;
  position:relative;
  float:left;
  margin-left: 100px;
  margin-top:-20px;
  }

#myNavbar ul a
{
  display:block;
  text-decoration:none;
  font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
  line-height:40px;
}

#myNavbar ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}


#myNavbar ul li ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#008ab8;
  padding:0;

}

#myNavbar ul li ul li
{
 position:relative;
  float:left;
  margin:0;
  padding:0;
  width: 150px;
}

#myNavbar ul ul li a:hover
{
  background-color: #e4e4e4;  
 /* border-top: 1px solid #000;*/
}

#myNavbar ul ul a
{
  line-height:120%;
  padding:10px 20px;
}


#myNavbar ul li a:hover
{
  display:block;
  z-index:10000;
   background-color: #fff;
  position: relative;
}


#myNavbar ul li:hover > ul
{
  display:block;
  z-index:10000;
  border-radius:3px;
  margin-left: 0px;
  margin-top:0px;
}

#myNavbar ul ul li a:hover
{
   margin: 0px 0px;
}


/*----------------------------Login---------------------------*/

.modal .modal-content .modal-header .modal-title{
  text-align: center;
}

.modal-header .close {
    margin-top: -50px;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 27px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    margin-top:20px;
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 1;
    border-bottom-right-radius: 1;
    border-top-left-radius: 1;
    border-top-right-radius: 1;
    margin-left: 70px;
    margin-right: 30px;
    width: 70%;
    height: 40px;
     line-height: 40px;
  }

  input[type="password"],input[type="email"] {
    margin-bottom: 20px;
    border-top-left-radius: 1;
    border-top-right-radius: 1;
    border-bottom-left-radius: 1;
    border-bottom-right-radius: 1;
    margin-left: 70px;
    margin-right: 30px;
    width: 70%;
    height: 40px;
    line-height: 40px;
  }

.modal{
  padding-top:100px;
  position: absolute;
}

.modal .submit >button{
position: relative;
margin-left: 220px;
width: 20%;
}

/*--------------------------Registerform-----------------------------------*/


