<header>
    <div class="container group">
        <div class="logo">
            <a href="/" title="Zing MP3 - Đỉnh cao âm nhạc" class="hide-text">
                <img src="https://zmp3-static.zadn.vn/skins/zmp3-v5.1/images/logo.png" alt="Zing MP3 - Đỉnh cao âm nhạc">
            </a>
        </div>
        <div id="sug" class="section-search">
            <form action="/tim-kiem/bai-hat.html" method="get" class="search">
                <input type="text" name="q" placeholder="Nhập nội dung cần tìm" class="input-txt" autocomplete="off">
                <span class="input-btn">
                    <button type="submit" class="zicon btn hide-text">Tìm kiếm</button>
                </span>
            </form>
        
        </div>
    
        <div class="nav-account pull-right fn-guestbox">
             <img class="" src="../assets/icon/user.png"> &nbsp;
            <a class="fn-login" href="#" title="Đăng nhập"> Login |</a> 
            <a class="fn-login" href="#" title="Đăng xuất"> Register</a>
        </div>
     
    </div>
</header>