
header {
    position: relative;
    background: #1c1c1c;
    width: 100%;
    height: 50px;
    min-width: 1000px;
    z-index: 900002!important;
    display: block;
}

header .container {
    overflow: visible;
    width: 1000px;
}

.group {
    display: block;
    clear: both;
}

.container {
    width: 970px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
header .logo {
    float: left;
    width: 185px;
    height: 40px;
    margin-top: 6px;
}
header .logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.hide-text {
    border: 0;
    background-color: transparent;
    color: transparent;
    text-shadow: none;
}

.section-search {
    position: relative;
}
.section-search .search {
    float: left;
    margin-top: 10px;
    width: 355px;
    position: relative;
}
.section-search .search .input-txt {
    float: left;
    padding: 5px 15px;
    width: 100%;
    border: 0 none;
    height: 29px;
}
.section-search .search .input-btn {
    white-space: nowrap;
    position: absolute;
    right: 0;
    top: 0;
}

.nav-account a{
	color: #fff;
	text-decoration: none;
}
.nav-account a:hover{
	text-decoration: underline;
}

.pull-right {
    float: right;
   line-height: 50px;
}

.menubar{
    position: relative;
    background:#fff;
    width: 100%;
    height: 40px;
    min-width: 1000px;
    z-index: 900002!important;
    display: block; 
}

#myNavbar .main-nav a img{
    width:22px;
    position: relative;
    transform: translateX(-80px);
    opacity: 10000px;
    cursor: pointer;
    line-height: 45px;
    float: left;
    margin-top: 6px;
    margin-left: -65px; 
}

#myNavbar ul li a{
    margin-right:5px;
    color: #1c1c1c;
    text-decoration: none;
    font-size: 15px;
    padding-left:12px;
    padding-right: 12px;
    }

    #myNavbar ul li a:hover{
    color: blue;
    }

 #myNavbar ul li a#navbar-mymusic{
     margin-left: -110px;
 }

nav .container {
    background: #e4e4e4;
    width: 1000px;
    margin: 0 auto;
    overflow: visible;
}

#navbar-top100:hover> ul{
    display: block;
}
#myNavbar .main-nav{
    margin-left: 150px;
    height: 40px;
}

#myNavbar ul
{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#myNavbar ul a
{
  display:block;
  text-decoration:none;
  font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
  line-height:40px;
}

#myNavbar ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#myNavbar ul li ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#008ab8;
  padding:0;

}

#myNavbar ul li ul li
{
 position:relative;
  float:left;
  margin:0;
  padding:0;
  width: 150px;
}

#myNavbar ul ul a
{
  line-height:120%;
  padding:10px 20px;
  
}

#myNavbar ul ul li a:hover
{
   margin: 0px 0px;
}

#myNavbar ul li a:hover
{
  display:block;
  z-index:10000;
  background-color: #fff;
  position: relative;
}


#myNavbar ul li:hover > ul
{
  display:block;
  z-index:10000;
  border-radius:3px;
}






